<li>
	{{burger_name}}

	<button style="background-color: yellow;" class="change-burger" data-id="{{id}}" data-newburger="{{id}}">
		{{#if devoured}}Devour This!{{else}}{{/if}}
	</button>
	
	<button class="delete-burger btn btn-danger" data-id="{{this.id}}">
		Delete!
	</button>
</li>
