<li>
	{{burger_name}}

	<button class="change-burger" data-id="{{id}}" data-newburger="{{devoured}}">
		{{#if devoured}}Eat Me!{{else}}Devoured!{{/if}}
	</button>
	
	<button class="delete-burger btn btn-danger" data-id="{{id}}" data-deleteburger="{{devoured}}">
		{{#if devoured}}Delete{{else}}Delete{{/if}}
	</button>
</li>
